<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>598306781552-2v1d683cukdiq5efe8qne4voa0ff58bd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBmPj6h-AM-Qxnv2dRYSOZ8ABXJTyR96E</string>
	<key>GCM_SENDER_ID</key>
	<string>598306781552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.greenleafdriver.dev</string>
	<key>PROJECT_ID</key>
	<string>greenleaf-3e7e7</string>
	<key>STORAGE_BUCKET</key>
	<string>greenleaf-3e7e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598306781552:ios:74e611729ddb076f69b7b5</string>
	<key>DATABASE_URL</key>
	<string>https://greenleaf-3e7e7-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>